

*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;	
}
	
:root{
	--nao-metal:rgb(0, 181, 0);
	--gas-nobre:rgb(7, 74, 112);
	--metal-alcalino:rgb(237, 166, 12);
	--metal-alcalino-terroso:rgb(94, 91, 0);
	--semimetal:rgb(0, 0, 0);
	--halogenio:rgb(223, 0, 252);
	--outros-metais:rgb(51, 75, 75);
	--metal-transicao:rgb(255, 0, 0);
	--lantanideo:rgb(138, 0, 250);
	--actinidio:rgb(60, 0, 45);
}

body{
	font:1em/1 'Arial', arial;
	color:rgb(0,0,0);
	text-align:left;
	padding:1em 5%;
	background:var(--bg-preto);	
}


.nao-metal{
	color:var(--nao-metal);
}
	
.gas-nobre{
	color:var(--gas-nobre);
}

.metal-alcalino{
	color:var(--metal-alcalino);
}
	
.metal-alcalino-terroso{
	color:var(--metal-alcalino-terroso);
}
	
.semimetal{
	color:var(--semimetal);
}
	
.halogenio{
	color:var(--halogenio);
}
	
.outros-metais{
	color:var(--outros-metais);
}
	
.metal-transicao{
	color:var(--metal-transicao);
}
	
.lantanideo{
	color:var(--lantanideo);
}
	
.actinidio{
	color:var(--actinidio);
}

	

h1{
	margin:.5em 0;
	font-size:calc(3vw + 2rem);
	font-weight:100;
	text-transform:uppercase;
	letter-spacing:-.05em;
}

h2{
	font-size:2em;
}

p:last-child{
	font-size:.8em;	
}



main{
	margin:auto;
	max-width:45em;
	display:flex;
}

#grid-container{
	flex-grow:1;
	min-width:7em;	
}

.col-hidden{
	display:none;	
}


section{
	height:7em;
	border:.125rem solid;
	border-radius:.25rem;	
	line-height:1.25;
	margin-bottom:.5em;
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

span{
	font-size:.75em;
	position:absolute;
	top:.3em;
	left:.5em;	
}




li:before{
	content:' ';
	display:inline-block;
	width:1em;
	height:1em;
	border:.125em solid;
	border-radius:.125rem;	
	margin-right:.5em;
	position:relative;
	top:.25em;
}

		
		
		
		body{
			font-size:.65em;
			padding:2em;	
		}
		
		
		/* GRID*/
	
		main{
			max-width:130.5em;
			display:block;
		}
		
		#grid-container{
			display:grid;
			grid-template-columns:repeat(18, 7em);
			grid-gap:.25em;	
		}
			
		.col-span16{
			grid-column:span 16;
		}
			
		.col-span10{
			grid-column:span 10;
		}
			
		.col-span3{
			grid-column:span 3;
		}
			
		.col-hidden{
			display:block;
			visibility:hidden;
		}
			
		
		/* Celulas */
		
		section{
			margin:10;
		}
			
		section:hover{
			transition:.2s;
			transform:scale(1.5);
			cursor:pointer;
			z-index:2;
		}
		
		

}



		
		body{
			font-size:.75em;	
		}	
}